div#Hero {
	background: transparent url('../images/mm/redemption/market_masters_landing_page_fourth.png') no-repeat 0 0;
}

#redeemNow {
	position: absolute;
	top: 170px;
	left: 407px;
	color: #fff;
	font-size: 18px;
}

div.kapitallSignIn {
	top: 230px;
	left: 395px;
}